:root {
  --hue: 129;
}

body {
    margin: 0;
    background: radial-gradient(hsl(0, 0%, 8%,50%) 0% 75%,hsl(0, 0%, 0%,50%) 100%),
                linear-gradient(to right,hsl(0, 0%, 0%,50%) 0%,hsl(0, 0%, 8%,50%) 5% 95%,hsl(0, 0%, 0%,50%) 100%),
                linear-gradient(to bottom,hsl(0, 0%, 0%,100%) 0%,hsl(0, 0%, 8%,100%) 5% 95%,hsl(0, 0%, 0%,100%) 100%);    
    font-family: 'Courier New', Courier, monospace;
    color: hsl(var(--hue), 87%, 62%);
    text-shadow: 0 0 10px hsl(var(--hue), 100%, 20%);
    font-size: clamp(18px, 2vw, 22px);
    line-height: 1.5;
}

body::before {
  content: " ";
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: linear-gradient(to bottom, hsla(126, 100%, 3%, 25%) 50%, hsl(var(--hue), 88%, 10%, 50%) 50%);
  background-size: 100% 3px;
  background-attachment: scroll;
  animation: scanlines infinite 5s linear, flicker infinite 10s ease;
  z-index: 2;
  pointer-events: none;
}

#introscreen {
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .titleCon {
        position: relative;
        align-items: center;
        margin: 20px;
        .title {
            padding: 3px;
            background: #151515;
            position: absolute;
            top: 29%;
            left: 3%;
            font-size:8vh;
            text-align: center;
            flex: 0;
            width: fit-content;
            z-index: 1;
            user-select: none;
        }
        #ascii-art {
            text-align: center;
            font-size: 1.7vh;
            line-height: 1;
            white-space-collapse: preserve;
            text-shadow: 0 0 15px hsl(var(--hue), 100%, 50%);
            animation: shadowflicker infinite 5s;
            z-index: 0;
            user-select: none;
        }
    }
    .subtitle {
        font-size: 4vh;
        text-align: center;
        flex: 0;
        padding: 20px;
        user-select: none;
    }
    #startBtn {
        font-size: 4vh;
        position: relative;
        user-select: none;
    }
}



#storybox {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.flare {
    background: radial-gradient(hsl(var(--hue), 100%, 20%) 0%,transparent 75%);
    position: relative;
    align-self: center;
    width: 70%;
    height: 5px;
    border-radius: 100%;
    animation: randomloc infinite 10s;
}

@keyframes randomloc {
    0% {
       opacity: 0%;
    }
    23%{
        opacity: 0%;
    }
    25% {
        top: -20%;
        left: -15%;
        opacity: 20%;
    }
    27%{
        opacity: 0%;
    }
    48%{
        opacity: 0%;
    }
    50% {
        top: 30%;
        left: -15%;
        opacity: 20%;
    }
    52%{
        opacity: 0%;
    }
    73%{
        opacity: 0%;
    }
    75% {
        top: 50%;
        left: 25%;
        opacity: 20%;
    }
    77%{
        opacity: 0%;
    }
    96%{
        opacity: 0%;
    }
    100% {
        top: 0%;
        left: 10%;
        opacity: 15%;
    }
}

@keyframes scanlines {
  from { background-position: 0 0; }
  to { background-position: 0 -30px; }
}

@keyframes flicker {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@keyframes shadowFlicker {
    0% {text-shadow: 0 0 10px hsl(var(--hue), 100%, 40%);}
    50% {text-shadow: 0 0 20px hsl(var(--hue), 100%, 50%);}
    100% {text-shadow: 0 0 10px hsl(var(--hue), 100%, 40%);}
}

#colorBtn{
    right: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    margin:10px;
    height: 30px;
    width: 30px;
    border: 4px solid hsl(var(--hue), 87%, 62%);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    z-index: 3;
    box-shadow: 0 0 10px hsl(var(--hue), 100%, 20%), inset 0 0 10px hsl(var(--hue), 100%, 20%);;
    text-shadow: 0 0 10px hsl(var(--hue), 100%, 20%);;
}

/* Target Input */
#slider {
    position: absolute;
    right: 40px;
    margin:25px;
    appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right in hsl longer hue, hsl(0deg 100% 50%), hsl(360deg 100% 50%));
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: hsl(var(--hue), 87%, 62%);
    border-radius: 10px;
}

#slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: hsl(var(--hue), 87%, 62%);
    border-radius: 10px;
}

.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "topLeft topRight"
    "bottom bottom";
}

.topLeft {
  grid-area: topLeft;
  border: 1px solid black;
  font-size: .55vw;
  text-align: center;
  align-content: center;
  white-space-collapse: preserve;
  line-height: 1;
  user-select: none;
  animation: shadowFlicker 2s infinite;
}

.topRight {
  grid-area: topRight;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.bottom {
  grid-area: bottom;
  border: 1px solid black;
}

.controlPanel {
    margin: 1rem;
}

.terminal-logs {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    overflow: auto;
    white-space: normal;
}

.cursor {
    display: inline-block;
    animation: blink 2s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.past-log {
    color: hsl(var(--hue), 100%, 25%);
}

/* Firefox scrollbar */
.terminal-logs {
    scrollbar-color: hsl(var(--hue), 87%, 62%) transparent;
    scrollbar-width: thin;
    scroll-behavior: auto;
}

/* Chrome, Edge, Safari scrollbar */
.terminal-logs::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 0 10px hsl(var(--hue), 100%, 20%);
}
.terminal-logs::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: 0 0 10px hsl(var(--hue), 100%, 20%);
}
.terminal-logs::-webkit-scrollbar-thumb {
    background: hsl(var(--hue), 87%, 62%);
    border-radius: 5px;
    box-shadow: 0 0 10px hsl(var(--hue), 100%, 20%);
}
.terminal-logs::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--hue), 100%, 72%);
    box-shadow: 0 0 10px hsl(var(--hue), 100%, 20%);
}
